@font-face {
  font-family: "iconfont"; /* Project id 5124757 */
  src: url('iconfont.woff2?t=1770448114682') format('woff2'),
       url('iconfont.woff?t=1770448114682') format('woff'),
       url('iconfont.ttf?t=1770448114682') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuaxin:before {
  content: "\e68c";
}

.icon-droparrow:before {
  content: "\e61e";
}

.icon-uparrow:before {
  content: "\e626";
}

